.conocimientos-seccion{
    display: flex;
    flex-direction: row;
}

.conocimientos-mitad-izquierda{
    background-color: #1F1F1F;
    position: relative;
    left: 0vw;
    display: flex;
    flex-direction: column;
    width: var(--ancho-mitad-chica);
    height: 100vh;

    transition: linear 0.4s;
}

.conocimientos-fuera .conocimientos-mitad-izquierda{
    left: -150vw;
}

.conocimientos-seleccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
    font-weight: 900;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

.conocimientos-seleccion div{
    margin: 1rem 0;
    padding: 2rem 1rem;
    width: 60%;
    cursor: pointer;

    transition: linear 0.1s;
}

.conocimientos-seleccion-diseño{
    background-color: #2c2c2c;
}

.conocimientos-seleccion-programacion{
    background-color: #2c2c2c;
}

.conocimientos-seleccion div:hover:not(.conocimientos-seccion-elegida){
    background-color: #353535;
}

.conocimientos-seccion-elegida{
    background-color: #464646;
    box-shadow: 0px 6px 9px 0px #00000060;
}


.conocimientos-mitad-derecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    width: var(--ancho-mitad-grande);
    /* max-width: var(--ancho-mitad-grande); */

    color: white;
}

.conocimientos-texto-diseño{
    position: relative;
    left: 0;

    transition: linear 0.4s;
} 
.conocimientos-fuera .conocimientos-texto-diseño{
    position: relative;
    left: 60vw;
}
.conocimientos-texto-programacion{
    position: relative;
    left: 0;

    transition: linear 0.4s;
} 
.conocimientos-fuera .conocimientos-texto-programacion{
    position: relative;
    left: 60vw;
}

.conocimientos-contenedor-info.conocimientos-fuera{
    display: none;
}

.conocimientos-contenedor-info{
    display: flex;
    flex-direction: column;
    /* width: 65%; */
}

.conocimientos-contenedor-iconos{
    /* margin-top: 8rem; */
    margin-top: 10vh;
    height: auto;
}

.conocimientos-contenedor-iconos{
    position: relative;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    --color-sombra-brillo: #7A987B;
    box-shadow: var(--sombra-brillo) var(--color-sombra-brillo);
    background-color: #1F1F1F;
    border: solid 1px #6aa06b;
    
    overflow: hidden;
}


/* .conocimientos-iconos.en-medio{
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    display: flex;
    
    transition: linear 0.2s;
}

.conocimientos-iconos-diseño:not(.en-medio){
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
    filter: brightness(0.5);
    opacity: 0.8;
    transform: scale(0.8); 
}

.conocimientos-iconos-programacion:not(.en-medio){
    background-color: rgb(104, 104, 104);
    border-radius: 10px;
    filter: brightness(0.5);
    opacity: 0.8;
    transform: scale(0.8) translateX(138px) !important;     
} */

.conocimientos-iconos{
    border-radius: 10px;
    background-color: rgb(104, 104, 104);
    filter: brightness(0.5);
    display: flex;
    opacity: 0.8;
}
.conocimientos-iconos-diseño{
    transform: scale(0.8); 
}
.conocimientos-iconos-programacion{
    transform: scale(0.8) translateX(138px) !important;
}

.conocimientos-iconos.en-medio{
    border-radius: 10px;
    background-color: rgb(221, 221, 221);
    filter: brightness(1);
    opacity: 1;
    display: flex;
    
    /* transition: linear 0.2s; */
}

.conocimientos-iconos-diseño.en-medio{
    transform: scale(1); 
    animation: rotacionDiseño linear 0.2s;
}
.conocimientos-iconos-programacion.en-medio{
    transform: scale(1) translateX(109px) !important;
    animation: rotacionProgramacion linear 0.2s;
}

@keyframes rotacionDiseño {0%{transform: scale(0.8);background-color: rgb(104, 104, 104);}100%{transform: scale(1);background-color: rgb(221, 221, 221);}}
@keyframes rotacionProgramacion {0%{transform: scale(0.8) translateX(109px);background-color: rgb(104, 104, 104);}100%{transform: scale(1) translateX(109px);background-color: rgb(221, 221, 221);}}


.conocimientos-icono-image{
    /* max-width: 120px; */
    width: 110px;
    height: auto;
}


.contenedor-flechas{
    position: relative;
    left: 0;
   /* min-width: 20vw;  Ancho máximo del contenedor de iconos */
    display: flex;
    align-items: center;

    transition: linear 0.3s;
    transition-delay: 0.3s;
}
.conocimientos-fuera .contenedor-flechas{
    left: 60vw;
    transition: linear 0.4s;
    transition-delay: 0s;
}
.conocimientos-flecha{
    position: absolute;
    top: 55%;
    width: 4rem;
    height: auto;
    cursor: pointer;
    transition: linear 0.1;
}
.conocimientos-flecha:hover{
    filter: brightness(1.2);
}
.conocimientos-flecha:active{
    filter: brightness(1);
}
.conocimientos-flecha-izquierda{
    left: -2rem;
}

.conocimientos-flecha-derecha{
    right: -2rem;
    transform: rotate(180deg);
}

.conocimientos-flecha-izquierda:hover{
    transform: scale(1.05);
}
.conocimientos-flecha-derecha:hover{
    transform: rotate(180deg) scale(1.05);
}

.conocimientos-titulo-responsive{
    display: none;
}


@media screen and (max-width: 960px){

    .conocimientos-seccion{
        display: flex;
        flex-direction: column-reverse;
    }

    .conocimientos-titulo-responsive{
        height: 2.5rem;
        display: flex;
        position: absolute;
        top: 4rem;
        left: 2rem;
        margin: 0 0 0 1rem;
        color: white;
        font-size: 2rem;

        transition: linear 0.3s;
    }
    .conocimientos-titulo-responsive::before{
        content: '';
        position: absolute;
        bottom: -2rem;
        /* left: -3rem; */
        right: 0;
        height: 5px;
        width: 200%;
        background-color: rgb(202, 202, 202);
    }
    .conocimientos-fuera .conocimientos-titulo-responsive{
        left: -30vh;
    }

    .conocimientos-mitad-izquierda{
        background-color: #1F1F1F;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 40vh;
        bottom: 0px;
        left: 0;
    }
    .conocimientos-fuera .conocimientos-mitad-izquierda{
        bottom: -40vh;
        left: 0;

        transition-delay: 0.5s;
    }

    .conocimientos-mitad-derecha{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 60vh;
    
        color: white;
    }

    .conocimientos-seleccion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 4rem;
        font-size: 1rem;
    }
    
    .conocimientos-seleccion div{
        margin: 0rem 1rem;
        padding: 1rem 0rem;
        width: 40vw;
    }
    


    .conocimientos-contenedor-info{
        display: flex;
        flex-direction: column-reverse;
    }

    .conocimientos-texto-diseño{
        position: relative;
        top: 16vh;
        left: 7vw;    
        width: 70%;

        transition-delay: 0.5s;
    }
    .conocimientos-fuera .conocimientos-texto-diseño{
        top: 55vh;
        left: 7vw;    

    }
    .conocimientos-texto-programacion{
        position: relative;
        top: 16vh;
        left: 7vw;    
        width: 70%;
        
        transition-delay: 0.5s;
    }
    .conocimientos-fuera .conocimientos-texto-programacion{
        left: -70vw;
    }
    
    .conocimientos-contenedor-iconos{
        margin-top: 35vh;
    }

    .conocimientos-flecha{
        top: 79%;
        width: 3rem;
        height: auto;
    }
    .conocimientos-flecha-izquierda{
        left: 1rem;
    }
    .conocimientos-flecha-derecha{
        right: 1rem;
    }
    
    .conocimientos-fuera .contenedor-flechas{
        left: 100vw;
        transition: linear 0.4s;
        transition-delay: 0s;
    }
}