.inicio-seccion{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.inicio-mitad-izquierda{
    width: var(--ancho-mitad-chica);
    height: 100vh;
    left: 0;
    background-color: #1F1F1F;
    position: relative;
    display: flex;
    flex-direction: column;

    z-index: 2;
    transition: linear 0.5s;
}
.inicio-fuera .inicio-mitad-izquierda{
    left: -150vw;
    transition: linear 0.5s;
}

.inicio-titulo{
    color: white;

    position: relative;
    top: var(--margen-vertical-inicio);
    left: var(--margen-horizontal-inicio);
}

.inicio-titulo-nombre{
    font-weight: 600;
    display: flex;
    position: relative;
    font-size: 2.8rem;
    /* padding-bottom: .6rem;
    border-bottom: 2px solid #FE902A; */
    margin-bottom: 1rem;
    white-space: nowrap;
}
.inicio-titulo-nombre::after{
    content: '';
    --color-sombra-brillo: #fe902ac2;
    position: absolute;
    background-color: #fe902a;
    box-shadow: var(--sombra-brillo) var(--color-sombra-brillo);
    width: 100%;
    height: 2px;
    bottom: -0.9rem;
    width: 21rem;
}

.oferta{
    /* display: flex;
    flex-direction: column; */
    margin-top: 2rem;

}

.oferta div{
    /* display: inline-block; */
    margin-bottom: 1rem;
    padding: 0.4rem 0.6rem;
    white-space: nowrap;
    color: #FE902A;
    font-size: 1.2rem;
}

.inicio-titulo-desarrollo{
    width: 14rem;
    background-color: #2D2D2D;
}

.inicio-titulo-diseño{
    width: 10rem;
    background-color: #404040;
}

.inicio-foto{
    /* width: 50px; */
    position: absolute;
    left: -8px;
    bottom: -8px;
    /* transform: scale(0.2); */

    /* transition: 1s linear; */
}

/* .inicio-foto.fuera{
    bottom: 50rem;
} */

.inicio-foto-image{
    width: calc(var(--ancho-mitad-chica)*1.5);
    height: auto;

    transition: linear 0.2s;
    /* transition-delay: 0.2s; */
}

/* .boton-sobre-mi{
    background-color: #55DF73;
    color: black;
    position: absolute;
    padding: 0.3vw 1vw;
    font-size: 1vw;
    bottom: 19vw;
    left: 16.5vw;
} */
.boton-sobre-mi{
    background-color: #2F2F2F;
    border: solid 1px rgb(85, 223, 115);
    box-shadow: 0 0 7px 0px rgb(85 223 115 / 50%);
    color: white;
    position: absolute;
    padding: 0.3vw 1vw;
    font-size: 1vw;
    bottom: 19vw;
    left: 16.5vw;

    /* transition: linear 0.5s; */
}
.boton-sobre-mi:hover{
    cursor: pointer;
    background-color: #3f3f3f;
    box-shadow: 0 0 15px 0px rgb(85 223 115 / 50%);
    transition: linear 0.1s;
}
.boton-sobre-mi:active{
    background-color: #1f1f1f;
    box-shadow: 0 0 7px 0px rgb(85 223 115 / 50%);
    transition: inherit;
}

.contenedor-foto-sobre-mi{
    /* left: -8rem; */
    position: relative;
    left: 0vw;
    width: 100%;
    height: 100%;
    transition: 0.2s linear; 
}
.contenedor-foto-sobre-mi.sobre-mi-abierto{
    left: -18vw;
    transition: 0.2s linear; 
}
/* .inicio-foto.sobre-mi-abierto{
    left: -20rem;
    transition: 0.1s linear;   
} */
.boton-sobre-mi.sobre-mi-abierto{
    left: -10rem;
    transition: 0.8s linear;
}
.contenedor-sobre-mi{
    position: absolute;
    bottom: -35vh;
    left: 45vw;
    width: 25vw;
    height: auto;
    border: solid 1px white;
    background-color: #1F1F1F;
    color: white;
    opacity: 0;

    transition: linear 0.3s;
}
.contenedor-sobre-mi.sobre-mi-abierto{
    bottom: 20vh;
    opacity: 1;
    transition: linear 0.3s;
}
.inicio-fuera .contenedor-sobre-mi{
    opacity: 0;
    bottom: -35vh;
}
.sobre-mi-texto{
    margin: 1.5rem;
    margin-bottom: 6vh;
}
.sobre-mi-flecha-image{
    position: absolute;
    bottom: -2.8vh;
    left: 40%;
    width: 4vh;
    height: auto;

    transition: linear 0.1s;
    cursor: pointer;
}
.sobre-mi-flecha-image:hover{
    filter: brightness(1.1);
}


.inicio-mitad-derecha{
    width: var(--ancho-mitad-grande);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.inicio-menu{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: calc(var(--margen-vertical-inicio) + 1rem);
    color: white;
    font-size: 1.2rem;
    margin: 0 1rem;
    right: 1.5rem;
}
.inicio-menu.fuera{
    right: -100vw;
    transition: linear 0.5s;
}
.inicio-menu:not(.fuera){
    right: 1.5rem;
    transition: linear 0.5s;
}

.inicio-menu::after{
    content: '';
    /* --color-sombra-brillo: #747474c2; */
    /* box-shadow: var(--sombra-brillo) var(--color-sombra-brillo); */
    position: absolute;
    right: -2.5rem;
    background-color: #afafaf;
    height: 4px;
    bottom: -1.8rem;
    width: 120%;
}

.boton-menu:hover{
    cursor: pointer;
    color: rgb(85, 223, 115);
    transition: linear 0.1s;
}
.inicio-menu-conocimientos::after{
    content: '';
    right: 50vw;
    width: 0vw;
    transition: linear 0.1s;
}
.inicio-menu-conocimientos:hover::after{
    content: '';
    position: absolute;
    right: 45vw;
    background-color: rgb(36, 209, 74);
    box-shadow: 0px 0px 10px 1px rgba(85, 223, 115, 0.70);
    height: 4px;
    bottom: -1.8rem;
    width: 12vw;
    z-index: 1;
}

.inicio-menu-proyectos::after{
    content: '';
    right: 30vw;
    width: 0vw;
    transition: linear 0.1s;
}
.inicio-menu-proyectos:hover::after{
    content: '';
    position: absolute;
    right: 24.5vw;
    background-color: rgb(36, 209, 74);
    box-shadow: 0px 0px 10px 1px rgba(85, 223, 115, 0.70);
    height: 4px;
    bottom: -1.8rem;
    width: 10vw;
    z-index: 1;
}

.inicio-menu-contacto::after{
    content: '';
    right: 10vw;
    width: 0vw;
    transition: linear 0.1s;
}
.inicio-menu-contacto:hover::after{
    content: '';
    position: absolute;
    right: 5vw;
    background-color: rgb(36, 209, 74);
    box-shadow: 0px 0px 10px 1px rgba(85, 223, 115, 0.70);
    height: 4px;
    bottom: -1.8rem;
    width: 9vw;
    z-index: 1;
}

.inicio-boton-cv{
    position: absolute;
    bottom: calc(var(--margen-vertical-inicio) - 2vw);
    right: calc(var(--margen-horizontal-inicio) + 5vw);
    filter: drop-shadow(0px 0px 12px #000000a6);
}
.inicio-boton-cv.fuera{
    bottom: -10vh;
    transition: linear 0.5s;
}
.inicio-boton-cv:not(.fuera){
    bottom: calc(var(--margen-vertical-inicio) - 2vw);
    transition: linear 0.5s;
}
.inicio-boton-cv:hover{
    filter: drop-shadow(0px 0px 8px #000000e7);
    transition: linear 0.1s;
}

.inicio-boton-cv-image{
    width: calc(var(--ancho-mitad-grande)*0.07);
    height: auto;
}
.inicio-boton-cv-image:hover{
    cursor: pointer;
    filter: brightness(1.1);
    transition: linear 0.1s;
}

@media screen and (max-width: 960px) {
    
    .inicio-foto{
        left: -95vw;
        bottom: -1rem;
    }
    
    .inicio-foto-image{
        width: calc(var(--ancho-mitad-chica)*6.5);
        height: auto;
    }

    .boton-sobre-mi{
        position: absolute;
        padding: 0.5vw 1.3vw;
        font-size: 3.5vw;
        width: 19vw;
        bottom: 89vw;
        left: 26vw;
    }

    .inicio-mitad-izquierda{
        width: 60vw;
        height: 100vh;
        left: 0;
    }

    .inicio-titulo-nombre{
        font-weight: 600;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    .inicio-titulo-nombre::after{
        width: 11rem;
    }

    .oferta div{
        margin-bottom: 1rem;
        padding: 0.4rem 0.6rem;
        white-space: nowrap;
        color: #FE902A;
        font-size: 0.8rem;
    }

    .inicio-titulo-diseño{
        width: 7rem;
    }

    .inicio-titulo-desarrollo{
        width: 10rem;
    }

    .inicio-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3rem;
        font-size: 1rem;
        text-align: end;
    }
    .inicio-menu div{
        margin: 1.5rem 0;
    }   
    .inicio-menu::after{
        content: '';
        position: absolute;
        right: -2.5rem;
        background-color: #afafaf;
        height: 4px;
        bottom: -1.8rem;
        width: 250%;
    }

    .inicio-boton-cv{
        width: 30%;
        position: relative;
        top: calc(var(--margen-vertical-inicio) - -12vh);
        left: calc(var(--margen-horizontal-inicio) + -22vw);
        filter: drop-shadow(0px 0px 12px #000000a6);
        z-index: 10;
        
        transition: linear 0.2s;
        /* transition-delay: 1s; */
    }
    .inicio-boton-cv.fuera{
        left: -200vw;
    }
    .inicio-boton-cv-image{
        width: calc(var(--ancho-mitad-grande)*0.18);
        height: auto;
    }

    .contenedor-foto-sobre-mi{
        left: -18vw;
        top: 0;
    }
    .contenedor-foto-sobre-mi.sobre-mi-abierto{
        left: -25vw;
        top: 30vh;
    }
    
    .inicio-foto-image.sobre-mi-abierto{
        width: calc(var(--ancho-mitad-chica)*7);
    }

    .contenedor-sobre-mi{
        position: absolute;
        bottom: 48vh;
        left: 110vw;
        width: 65vw;
        border: solid 1px white;
        background-color: #1F1F1F;
        color: white;
        transition: linear 0.2s;
        z-index: 10;
    
    }

    .contenedor-sobre-mi.sobre-mi-abierto{
        left: 25vw;
        bottom: 48vh;
    }
    
    .inicio-fuera .contenedor-sobre-mi{
        left: 110vw;
    }
    
    .sobre-mi-flecha-image{
        transform: rotate(270deg);
        right: -2vh;
        left: auto;
        bottom: 35%;
    }

    .sobre-mi-texto{
        margin: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .inicio-menu-contacto:hover::after{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
    .inicio-menu-conocimientos:hover::after{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }
    .inicio-menu-proyectos:hover::after{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    }   
}