.proyectos-seccion{
    display: flex;
    flex-direction: row;
    color: white;
}

.proyectos-mitad-izquierda{
    width: var(--ancho-mitad-chica);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.proyectos-mitad-derecha{
    width: var(--ancho-mitad-grande);
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    right: 0;
    background-color: #1F1F1F;

    transition: linear 0.5s;
    transition-delay: 0.3s;
}

.proyectos-fuera .proyectos-mitad-derecha{
    right: -100vw;
    transition: linear 0.4s;
    transition-delay: 0s;
}

.proyectos-info-actual{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    width: 75%;
    opacity: 1;
    transition: linear 0.2s;
}

.proyectos-info-actual.fuera{
    top: 25vh;
    opacity: 0;
}

.proyectos-titulo-actual{
    position: relative;
    right: 0;
    margin-bottom: 2rem;
    font-size: 1.6rem;

    transition: linear 0.2s;
    transition-delay: 0.3s;
}

.proyectos-fuera .proyectos-titulo-actual{
    right: 15vw;
    transition: linear 0.2s;
    transition-delay: 0;
}

.proyectos-descripcion-actual{
    position: relative;
    right: 0;

    transition: linear 0.3s;
    transition-delay: 0.4s;
}

.proyectos-fuera .proyectos-descripcion-actual{
    right: 35vw;
    transition: linear 0.3s;
    transition-delay: 0;
}

.img-actual{
    width: 50px;
    height: auto;
    margin: 0rem 2rem;

    cursor: pointer;
    transition: linear 0.2s;
}
.img-actual:hover{
    transform: scale(1.1);
}
.web-actual-img{
    width: 60px;
    filter: invert(1);
}

.proyectos-links-actual{
    position: relative;
    width: 100%;
    /* top: calc(35vh + 4rem); */
    top: 10vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: linear 0.6s;
    transition-delay: 0.4s;
}

.proyectos-fuera .proyectos-links-actual{
    right: 25vw;
    transition: linear 0.3s;
    transition-delay: 0;
}

.proyectos-contenedor-proyectos{
    position: relative;
    width: calc(30vw + 5vh);
    height: calc(90vh - 10vw);
    margin-top: calc(6vh + 1vw);
    display: flex;
    justify-content: center;
    --color-sombra-brillo: #E3C495;
    box-shadow: var(--sombra-brillo) var(--color-sombra-brillo);
    border: solid 1px #E3C495;
    background-color: #2F2F2F;

    overflow: hidden;
}

.proyectos-contenedor-map{
    position: absolute;
    width: 300%; /* Cantidad de proyectos por 100 */
    height: 65vh;
    left: 0;
    top: 0;
    display: flex;

    transition: cubic-bezier(0, 0, 0.15, 1.26) 0.2s;
}
.proyectos-contenedor-map.proyecto-dos{
    left: -100%;
}
.proyectos-contenedor-map.proyecto-tres{
    left: -200%;
}

.proyectos-proyectos-individuales{
    position: relative;
    width: 75%;
    height: 80%;
    background-color: #9A9891;
    border-radius: 10px;
    top: 2vh;
    margin: 2rem 5rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.proyecto-image{
    position: relative;
    height: 100%;
}

.proyectos-tres-puntos{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1.5vh;
}

.proyectos-puntos{
    width: 20px;
    height: 20px;
    margin: 8px;
    background-color: #606060;
    border-radius: 100%;
    cursor: pointer;
}
.proyectos-puntos.punto-elegido{
    background-color: #D9D9D9;
}

.contenedor-flechas{
    position: relative;
   /* min-width: 20vw;  Ancho máximo del contenedor de iconos */
    display: flex;
    align-items: center;

    transition: linear 0.3s;
}

.proyectos-flecha{
    position: absolute;
    top: 50%;
    width: 4rem;
    height: auto;
    cursor: pointer;
    transition: linear 0.1;
}

.proyectos-flecha:hover{
    filter: brightness(1.2);
}
.proyectos-flecha:active{
    filter: brightness(1);
}
.proyectos-flecha-izquierda{
    left: -2rem;
}

.proyectos-flecha-derecha{
    right: -2rem;
    transform: rotate(180deg);
}

.proyectos-flecha-izquierda:hover{
    transform: scale(1.05);
}
.proyectos-flecha-derecha:hover{
    transform: rotate(180deg) scale(1.05);
}


.proyectos-titulo-responsive{
    display: none;
}

@media screen and (max-width: 960px) {
    .proyectos-seccion{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .proyectos-mitad-derecha{
        width: 100vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        position: relative;
        top: 8.5rem;
        background-color: #1F1F1F;
        
        transition: linear 0.4s;
        transition-delay: 0.6s;
    }    
    .proyectos-fuera .proyectos-mitad-derecha{
        right: -100vw;
        transition: linear 0.4s;
        transition-delay: 0s;
    }

    .proyectos-mitad-izquierda{
        width: 100vw;
        height: 40vh;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .proyectos-contenedor-proyectos{
        position: relative;
        width: 80vw;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        margin-top: 0;
    }
    
    .proyectos-proyectos-individuales{
        position: relative;
        width: 70%;
        height: 35vh;
        background-color: rgb(219, 219, 219);
        border-radius: 10px;
        top: 0vh;
    }
    .proyecto-image{
        width: auto;
        height: auto;
    }
    
    .proyectos-info-actual{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        top: 16vh;
    }

    .proyectos-titulo-actual{
        font-size: 1rem;
        margin-bottom: 0;
        width: 100%;

        transition: linear 0.2s;
        transition-delay: 0.6s;
    }

    .proyectos-fuera .proyectos-titulo-actual{
        right: 28vw;
        transition: linear 0.2s;
        transition-delay: 0;
    }

    .proyectos-descripcion-actual{
        font-size: 0.8rem;
        width: 300%;
        
        transition: linear 0.2s;
        transition-delay: 0.6s;
        right: 0vw;
    }

    .proyectos-fuera .proyectos-descripcion-actual{
        right: -80vw;
        transition: linear 0.2s;
        transition-delay: 0s;
    } 

    .proyectos-flecha-derecha{
        top: 25vh;
    }
    .proyectos-flecha-izquierda{
        top: 25vh;
    }
    

    .proyectos-titulo-responsive{
        height: 2.5rem;
        display: flex;
        position: absolute;
        top: 4rem;
        left: 2rem;
        margin: 0 0 0 1rem;
        color: white;
        font-size: 2rem;

        transition: linear 0.3s;
    }
    .proyectos-titulo-responsive::before{
        content: '';
        position: absolute;
        bottom: -2rem;
        right: 0;
        height: 5px;
        width: 200%;
        background-color: rgb(202, 202, 202);
    }
    .proyectos-fuera .proyectos-titulo-responsive{
        left: -30vh;
    }
    
    .proyectos-links-actual{
        position: absolute;
        top: 17vh;
        right: 0;

        transition: linear 0.4s;
        transition-delay: 0.4s;
        transform: scale(0.8);
    }
    .proyectos-fuera .proyectos-links-actual{
        top: 25vh;
        right: 0;

        transition: linear 0.4s;
        transition-delay: 0s;
    }

}